* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
}

.titulo {
    display:flex;
    justify-content: center;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #D0D0D0;
    font-size: 20px;
}


header {
    margin-top: 30px;	
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rodape,.subtitulo {
    color: #D0D0D0;
    font-family: 'Ubuntu Mono', monospace;
}

.subtitulo {
    font-size: 20px;
}

.section-1 {
    margin-top:30px;
    margin-bottom: 20px; 
}

.p-menu-title,.p-menu {
    color: #0DD500;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
}

.p-menu-title {
   margin-bottom: 10px;
}


#a-arq{
   color: black;
}

.p-voltar{
   font-family: 'Ubuntu Mono', monospace;
   font-size: 16px;
}

.menu {
   display: flex;
   align-items: flex-start;
   margin-left: 15%;
}

.img-menu {
   width: 26px;
   heigth: auto;
}

.div-grade {
   background-color: #D0D0D0;
   padding: 0px 40px 40px 40px;
   margin-left: 15%;
   margin-right: 15%;
   height: auto;
}			

.div-table-vim-1 {
   padding: 0px;
   margin: 0px 0px 30px 0px;
}

.img-file {
   width: 35px;
   heigth: auto;
   margin-right: 5px;
}

.p-arq {
   font-family: 'Ubuntu Mono', monospace;
   font-size: 20px;
}

.img-linkedin {
   width: 37px;
   height: 37px;
}

.img-github {
   width: 41px;
   height: 41px;
}

.mv-img-redes {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0px 20px 0px;  
}

footer {
   margin: 30px 30px;
   display: flex;
   justify-content: center;
}

@media only screen and (max-width: 600px) {

.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #D0D0D0;
    font-size: 11px;
}

header {
    margin-top: 30px;	
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-titulo {
    width: 300px;
}

.subtitulo {
    font-size: 15px;
}

.p-menu-title,.p-menu {
    color: #0DD500;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
}

.p-menu-title {
   margin-bottom: 10px;
}

.menu {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin-left:10%;
   
}

.div-grade {
   background-color: #D0D0D0;
   padding: 0px 20px 20px 20px;
   margin-left: 10%;
   margin-right: 10%;
   height: auto;
}

.div-table-vim-1 {
   padding: 0px;
   margin: 0px 0px 20px 0px;
}

.img-linkedin {
   width: 24px;
   height: 24px;
}

.img-github {
   width: 28px;
   height: 28px;
}

.mv-img-redes {
   padding: 20px 0px 10px 0px;
}

.p-arq {
   font-size: 16px;	
}

.p-voltar { 
   font-size: 12px;
}

.rodape {
   font-size: 12px;
}

   
}
